html
{
	scroll-behavior:smooth;
}

body 
{
	background-image: url(images/paperbackground.png);
	background-attachment: fixed;
	position: relative;
	margin-top: 0;
	margin-left: 0;
	overflow: hidden;
}

h1  
{
	font-family: Garamond, serif;
	text-align: center;
}

h3
{
	font-family: Garamond, serif;
	
	position: relative;
	text-align: center;
}

a
{
	text-decoration: none;
}

.page 
{
	height: 100vh;
	width: 100vw;
	position: absolute;
}

.wrapper 
{
	height: 20vh;
	width: 30vw;
	min-width: 500px;
	min-height: 200px;
	
	top: 40vh;
	left: 35vw;
	position: absolute;
	
	background-color: rgba(204, 204, 204, .5);
}

.button 
{
	background-color: rgb(117, 117, 117);
	color: white;
	position: absolute;
	display: inline-block;
	padding: 15px 32px;
	
	top: 60%;
	left: 50%;
	transform: translate(-50%, 0%);
	
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: Garamond, serif;
	
	cursor: pointer;
}

.top 
{
	top: 0vh;
	text-align: center;
	position: fixed;
}

#home
{
	top: 0vh;
	left: 0vw;
}

#aboutme 
{
	top: 100vh;
	left: 0vw;
}

#contact
{
	top: 200vh;
	left: 0vw;
}